.cardbg {
  background: #ffffff;
  width: 33rem;
  height: 8rem;
  margin-top:0.3px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select button {
  margin-left: 1rem;
  border: none;
  border-radius: 5px;
  color: rgb(41, 40, 40);
  padding: 4px 6px;
}
.select select {
  border: none;
  border-radius: 5px;
  color: rgb(120, 118, 118);
  padding: 4px 6px;
}
